body {
    background: grey;
    margin: 0;
    font-family: Verdana, sans-serif;
    position: absolute;
    width: 100%;
    height: 100%;
}
button {
    padding: 15px;
    border-radius: 15px;
    border: none;
    cursor: pointer;
    display: block;
    margin-top: 3rem;
    margin-left: auto;
    margin-right: auto;
}
button:hover {
    background-color: black;
    color: white;
}
p {
    margin: 0;
    font-size: 2rem;
}
.form {
    position: absolute;
    margin: auto;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
}
.result-ok {
    font-size: 18rem;
}